body {
    background-color: cornsilk;
}

/*
.wrapper {
    margin: auto;
    position: absolute;
    justify-content: center;
}
*/

header,
nav,
aside,
article {
    margin: 10px 10px 10px 10px;
    border: 1px black dashed;
    font-family: system-ui;
}

footer {
    border: 1px black dashed;
}

aside {
    float: left;
    width: 25%;
    height: auto;

}

article {
    float: right;
    width: 70%;
    height: auto;
}

h1,
h5 {
    font-family: system-ui;
    text-align: center;
    margin: 8px;
}

p {
    font-family: system-ui;
    text-align: justify;
    font-style: italic;
    font-size: 15px;
    padding: 0 8px 0 8px;
}

.play {
    height: 40px;
    width: 80px;
    background-color: cornsilk;
    font-size: 17px;
    font-style: italic;
    margin: 2px;
    font-family: system-ui;
    border: 5px solid;
    border-radius: 25px;
    border-bottom-color: green;
    border-top-color: blue;
    border-left-color: red;
    border-right-color: yellow;
}

.play:hover {
    box-shadow: 0 12px 16px 0 grey, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
    height: auto;
    width: auto;
    margin: 20px;
}

.container {
    float: left;
    height: 600px;
    width: 600px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /*    border: 2px white ridge;*/
}

/*Setting for all the coloured boxes.*/
.innerbox {
    height: 35%;
    width: 35%;
    position: absolute;
}

/*Settings for the red box.*/
.redbox {
    border: 2px red solid;
    background-color: red;
    top: 0%;
    left: 0%;
}

/*Settings for the blue box.*/
.bluebox {
    border: 2px blue solid;
    background-color: blue;
    top: 0%;
    right: 0%;
}

/*Settings for the green box.*/
.greenbox {
    border: 2px green solid;
    background-color: green;
    bottom: 0%;
    left: 0%;
}

/*Settings for the yellow box.*/
.yellowbox {
    border: 2px yellow solid;
    background-color: yellow;
    bottom: 0%;
    right: 0%;
}

/*Styling for red,blue,green, yellow and center box.*/
.boxstyle {
    margin: auto;
    background-color: white;
    position: absolute;
}

/*Settings for box b/w red & blue.*/
.box1 {
    height: 35%;
    width: 30%;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
}

/*Settings for box b/w yellow & blue.*/
.box2 {
    height: 30%;
    width: 35%;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column-reverse wrap;
}

/*Settings for box b/w yellow & green.*/
.box3 {
    height: 35%;
    width: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
}

/*Settings for box b/w red & green.*/
.box4 {
    height: 30%;
    width: 35%;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column-reverse wrap;
}

/*Settings for center box and making triangles.*/
.center {
    background-color: transparent;
    height: 0%;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 95px solid;
    border-bottom-color: green;
    border-top-color: blue;
    border-left-color: red;
    border-right-color: yellow;
}

/*White inner conatiner for all the boxes.*/
.inner-container {
    background-color: white;
    border: 1px black solid;
    border-radius: 25px;
    height: 65%;
    width: 65%;
    margin: 17% 16% 17% 16%;
    position: relative;
}

/*Image sizing for all the player pieces.*/
.player {
    height: 30px;
    width: 40px;

}

/*Number One coloured player*/
.one {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15%;
}

/*Number Two coloured player*/
.two {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15%;
}

/*Number Three coloured player*/
.three {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15%;
}

/*Number Four coloured player*/
.four {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15%;
}

/*Vertical step's designing.*/
.step {
    width: 32.1%;
    height: 15.7%;
    border: 1px black solid;
    /*
    float: left;
    display: inline-block;
*/
}

/*Horizontal step's designiing.*/
.step2 {
    height: 32.1%;
    width: 15.7%;
    border: 1px black solid;
}

/*Outer Div for the dice and it's settings.*/
/*
.dice {
    float: left;
    display: inline-block;
    height: auto;
    width: auto;
    border: 1px black dotted;

}
*/

/*Roll dice's image sizing and settings.*/
/*.diceImg {
    margin-left: 35%;
    margin-right: 35%;
    padding: 15px;
    height: 20%;
    width: 20%;
}*/
.diceImg {
    height: 50px;
    width: 50px;
    z-index: 999999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
}

/* Red steps for red player's house*/
#r5,
#r4,
#r7,
#r10,
#r13,
#r16 {
    background-color: red;
}

/* Blue steps for blue player's house*/
#b5,
#b4,
#b7,
#b10,
#b13,
#b16 {
    background-color: blue;
}

/* Yellow steps for yellow player's house*/
#y5,
#y4,
#y7,
#y10,
#y13,
#y16 {
    background-color: yellow;
}


/* Green steps for green player's house*/
#g5,
#g4,
#g7,
#g10,
#g13,
#g16 {
    background-color: green;
}

.redtoken {
    background-image: url(../img/red.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bluetoken {
    background-image: url(../img/blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.greentoken {
    background-image: url(../img/green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.yellowtoken {
    background-image: url(../img/yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
